{% extends 'base.html.twig' %}

{% block title %}Controller global{% endblock %}

{% block monTitre %} Concession H2PROG Automobile {% endblock %}

{% block body %}
    <p>
        Bienvenue sur le site de la concession automobile de H2PROG.<br>
        Ce site vous permet de louer des voitures avec un abonnement mensuel !
    </p>

{% endblock %}
